<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Actor</th>
      <th scope="col">Movies</th>
    </tr>
  </thead>
<% @actors.each do  |actor| %>
  <tbody>
    <tr>
      <th scope="row"><%= actor.name %></th>
      <td><%= actor.movies.map(&:title).uniq %>
    </tr>
<% end %>