
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Description</th>
      <th scope="col">Year</th>
      <th scope='col'>Actors</>
      <th scope="col">Director</th>
      <th scope="col">Locations</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
<% @movies.each do  |movie| %>
  <tbody>
    <tr>
      <th scope="row"><%= movie.title %></th>
      <td><%= tag.p(movie.description) %></td>
      <td><%= movie.year %></td>
      <td><%= movie.actors.map(&:name).uniq %></td>
      <td><%= movie.director.name %></td>
      <td><%= movie.locations.map(&:name).uniq %>
      <td><%= movie.average_rating %></td>
    </tr>
<% end %>