<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class='container py-4'>
      <div class="row">
        <%= render partial: "shared/search_form" %>
      </div>
      <div class='row'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
